.content {
  position: relative;
  background-color: #0195d3;
  padding: 38px 0 63px;
  flex-grow: 1;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    background-image: url(../img/first-bg.png);
    background-repeat: no-repeat;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 47px;
  }
}
