.wiki {
  position: relative;
  border-top: 2px solid #bd00d9;
  background-color: #022e61;

  &::before {
    content: '';
    position: absolute;
    background-image: url(../img/wiki-bg.png);
    background-repeat: no-repeat;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__navigations {
    padding: 44px 0 58px;
    display: flex;
    align-items: stretch;
    grid-gap: 110px;
  }


}
