<footer class="footer">
  <div class="container">
    <div class="footer__wrapp">
      <div class="footer__wrapp-head">
        <p class="footer__connections">Будем на связи</p>
      </div>

      <div class="footer__content">
        <ul class="footer__socials socials">
          <li class="socials__link-item">
            <a class="socials__link vk" href="#">
              <svg width='28' height='28'>
                <use href='img/sprite/sprite.svg#vk'></use>
              </svg>
            </a>
          </li>
          <li class="socials__link-item">
            <a class="socials__link odnoklassniki" href="#">
              <svg width='28' height='28'>
                <use href='img/sprite/sprite.svg#odnoklassniki'></use>
              </svg>
            </a>
          </li>
          <li class="socials__link-item">
            <a class="socials__link socials__link--innactive facebook" href="#">
              <svg width='28' height='28'>
                <use href='img/sprite/sprite.svg#facebook'></use>
              </svg>
            </a>
          </li>
          <li class="socials__link-item">
            <a class="socials__link socials__link--innactive steam" href="#">
              <svg width='28' height='28'>
                <use href='img/sprite/sprite.svg#steam'></use>
              </svg>
            </a>
          </li>
          <li class="socials__link-item">
            <a class="socials__link youtube" href="#">
              <svg width='28' height='28'>
                <use href='img/sprite/sprite.svg#youtube'></use>
              </svg>
            </a>
          </li>
        </ul>

        <ul class="footer__nav">
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">PETANIUM</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">О НАС</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">ПОДДЕРЖКА</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">О ИГРЕ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

