<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="default">
  <title>Petanium</title>
  <link href="img/fav.png" rel="icon"/>
  <link rel="preload" href="fonts/Verdana-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Verdana-Bold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/YesevaOne-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
