<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="default">
  <title>Petanium</title>
  <link href="img/favicon.ico" rel="icon"/>
  <link rel="preload" href="fonts/OpenSans-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Tahoma.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Futura-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Exo2-ExtraBold.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
