.anchor {
  position: absolute;
  left: 10%;
  top: -33px;
  width: 56px;
  height: 56px;
  border-radius: 50px;
  background-color: #9900d9;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  z-index: 5;

  svg {
    fill: #e6adfe;
  }

  &:hover {
    svg {
      fill: #e7e7e7;
    }
  }
}
