.socials {
  display: flex;
  align-items: center;

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49px;
    height: 49px;
    border-radius: 10px;
    border: 4px solid #fff;
    transition: all 0.4s ease;

    svg {
      fill: #fff;
      transition: all 0.4s ease;
    }

    &--innactive {
      border: 4px solid #a4acb3;
      pointer-events: none;

      svg {
        fill: #a4acb3;
      }
    }

    &:hover {
      background-color: #1b222c;
    }


  }
}
