@import "components/socials.scss";
@import "components/anchor.scss";
@import "components/all.scss";
@import "components/news.scss";
@import "components/comments.scss";
@import "components/likes.scss";
@import "components/pubtime.scss";
@import "components/breadcrumbs.scss";
@import "components/subtitle.scss";
@import "components/pet.scss";
@import "components/country.scss";








