@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url('../fonts/#{$url}.woff2') format("woff2"),
         url('../fonts/#{$url}.woff') format("woff");
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}

@include font-face("OpenSans", "../fonts/OpenSans-Regular", 400, normal);
@include font-face("Tahoma", "../fonts/Tahoma", 400, normal);
@include font-face("Futura", "../fonts/Futura-Regular", 400, normal);
@include font-face("Exo", "../fonts/Exo2-ExtraBold", 900, normal);





