:root {
  /* -- Fonts --*/
  --font-family-verdana: "Verdana", sans-serif; // var(--font-family-verdana);
  --font-family-yesseva: "Yesseva", sans-serif; // var(--font-family-yesseva);

  /* -- Colors --*/
  --color-black: #011936; // var(--color-black);
  --color-placeholder: #C2C2C2; // var(--color-placeholder);
  --color-border: #DFDFDF; // var(--color-border);
  --color-grey-bg: #F9F9F9; // var(--color-grey-bg);
  --color-white: #FFFFFF; // var(--color-white);
  --color-red-text: #8E4A4E; // var(--color-red-text);
  --color-red: #A63A50; // var(--color-red);
  --color-red-hover: #D83455; // var(--color-red-hover);
  --color-pink-hover: #FFE1E1; // var(--color-pink-hover);
  --color-pink-bg: #FFF2F2; // var(--color-pink-bg);
  --color-blue: #43607C; // var(--color-blue);
  --color-blue-text: #84A6C2; // var(--color-blue-text);
  --color-blue-hover: #BEDBF2; // var(--color-blue-hover);
  --color-blue-border: #C8E6FF; // var(--color-blue-border);
  --color-blue-border-bg: #DCEBF8; // var(--color-blue-border-bg);
  --color-blue-bg: #F5FAFF; // var(--color-blue-bg);
  --color-yellow-text: #5E2D07; // var(--color-yellow-text);
  --color-yellow-hover: #FE8A01; // var(--color-yellow-hover);
  --color-yellow: #FDAD6D; // var(--color-yellow);
  --color-yellow-border: #FFE2CA; // var(--color-yellow-border);
  --color-yellow-bg: #FFEEE1; // var(--color-yellow-bg);
}








